@charset "utf-8";

@import "ui/ui/config";

footer {
	background: #fff;;
	height: 49px;
	
	ul {
		width: 100%;
		border-top:1px solid #c0c0c0;

		li {
			width: 308/1080 * 100% - 0.3%;
			font:  14px/1 $font-family;
			color: #353535;
			line-height: 49px;
			float: left;
			text-align: center;
		}
		li + li {
			border-left: 1px solid #c0c0c0;
		}
		.profile {
			width: 155/1080 * 100%;
		}
	}
/* 	.wrap {
		display: block;
		width: 90%;
		margin: 0 auto;
		color: #333;
	}
	
	.get {
		display: inline-block;
		width: 22px;
		height: 19px;
		background: url($images-path + "get.png") no-repeat;
		position: relative;
		top: 17px;
	} */


	.delivery {
		position: absolute;
		top: -80px;
		right: 30px;
		background: url($images-path + 'get.png') no-repeat 16px 20px;
		background-color: #9ccc65;
		width: 58px;
		height: 58px;
		@include radius(50%);
		@include box-shadow(0 0 15px #999);
	}
}