@charset "utf-8";

@import "reset";                   /*  css reset  */
@import "ui/base";                 /*  布局  */
@import "modules/base";            /*  组件  */
@import "footer";
@import "font-awesome/scss/font-awesome";
@import "base/checked";

body {
    background: #f0f0f2;
}

#content {
    margin-top: 9px;
    margin-bottom: 120px;
}

h2 {
    font: 12px/1 $font-family;
    color: #adadad;
    margin: 16px 0 7px 11/360*100%;
}

.clear {
    clear: both;
}
img {
    position: absolute;
    width: 100%;
    @include box-shadow(0 0 3px #aaa);
}

#content .first {
    margin-left: 0;
}


.imglist-3 {
    ul {
        width: 314/360*100%;
        margin: 0 auto;
        
        li {
            position: relative;
            background-color: #aaa;
            width: 95/314*100%;
            padding-bottom: 95/314*66.67%;
            margin-bottom: 9px;
            float: left;

            & + li {
                margin-left: (1 - 3*95/314)/2 * 100% - 0.3%;
            }

        }
    }
}

.imglist-4 {
    ul {
        width: 314/360*100%;
        margin: 0 auto;

        li {
            width: 70/314*100%;
            margin: 0 auto 9px;
            float: left;

            & + li {
                margin-left: (1 - 4*70/314)/3 * 100% - 0.3%;
            }

        }
    }
}

.imglist-5 {
    .box {
        width: 314/360*100%;
        margin: 0 auto 9px;
        
        .fl {
            width: 130/314*100%;
        }
        .fr {
            width: 168/314*100%;
            padding-bottom: 130/314*100%;
            position: relative;

            li {
                width: 75/168*100%;
                position: absolute;
                &:nth-child(1) {
                    top: 0;
                    left: 0;
                }
                &:nth-child(2) {
                    top: 0;
                    right: 0;
                }
                &:nth-child(3) {
                    bottom: 0;
                    left: 0;
                }
                &:nth-child(4) {
                    bottom: 0;
                    right: 0;
                }
            }
            




        }

    }
}