@charset "UTF-8";
/*
 *@author           Venshy at EcjtuNet
 */
/* 文件载入
 ----------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* mobile highlinght */
body {
  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: none;
  /* WP8 */ }

a {
  text-decoration: none;
  color: #000; }

/*  css reset  */
/* 添加className形式 */
/* 常用属性库，类名形式添加使用 
 * such as:　<div class="fl"> </div>
 */
/* about float */
.fl {
  float: left; }

.fr {
  float: right; }

.fn {
  float: none; }

.clear {
  clear: both; }

.overft {
  overflow: hidden; }

/* about display */
.hidden {
  display: none; }

/* about position */
.head-fixed {
  position: fixed;
  left: 0;
  top: 0; }

.foot-fixed {
  position: fixed;
  left: 0;
  bottom: 0; }

/* 居中 */
.center-x {
  text-align: center;
  margin: 0 auto; }

/* page layout 通过给body添加className使用
 * such as: <body class="mse"></body>
 * WARNING: html按照README书写，或参考测试页面
 * _config.scss宽高参数需自主修改 
 * Default: $sub-width: 0; $extra-width: 0; $wrap-width: 990px;
 *
 *
 *
 * 因为布局遵循内容至上原则,所以需要设置$header-height
 * Default: $header-height: 0;
 */
/* 布局
 -------------------------------------------------------------*/
/* m: main, s: sub, e: extra */
.wrap {
  width: 100%;
  overflow: hidden; }

#content {
  overflow: hidden;
  margin-top: 37px; }

footer {
  width: 100%; }

header {
  width: 100%;
  position: absolute;
  top: 0; }

.mse .main {
  width: 100%;
  float: left; }
  .mse .main .wrap {
    margin: 0 0 0 0; }
.mse .sub {
  width: 0;
  float: left;
  margin-left: 0; }
.mse .extra {
  width: 0;
  margin-left: 0;
  float: left; }

/**************************************************************/
.sme .main {
  width: 100%;
  float: left; }
  .sme .main .main-wrap {
    margin: 0 0 0 0; }
.sme .sub {
  width: 0;
  float: left;
  margin-left: -100%; }
.sme .extra {
  width: 0;
  margin-left: 0;
  float: left; }

/**************************************************************/
.sem #content {
  overflow: hidden;
  margin-top: 37px; }
.sem .main {
  width: 100%;
  float: left; }
  .sem .main .main-wrap {
    margin: 0 0 0 0; }
.sem .sub {
  width: 0;
  float: left;
  margin-left: -100%;
  position: relative;
  left: 0; }
.sem .extra {
  width: 0;
  margin-left: -100%;
  float: left;
  position: relative;
  left: 0; }

/*  布局  */
/* mixin形式 */
/* 圆角
 --------------------------------------------------*/
/* =appearance
 *-------------------------------------------------*/
/* user-select
 --------------------------------------------------*/
/* =animation
 *-------------------------------------------------*/
/* =rotate
 *-------------------------------------------------*/
select {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-align: center;
  background: #fff;
  border: 0; }

/*  组件  */
header {
  background: #ee6b62;
  text-align: center; }
  header .fl, header .fr {
    position: relative;
    top: 11px; }
  header h1 {
    display: inline-block;
    font: 16px/1 "Microsoft YaHei", "微软雅黑", STHeiti, sans-serif;
    color: #fff; }

header .wrap {
  width: 90%;
  margin: 0 auto;
  color: #fff;
  height: 37px;
  line-height: 37px; }
  header .wrap a {
    display: block; }

header .set {
  display: inline-block;
  width: 16px; }
  header .set p {
    height: 3px;
    background: #fff;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    ms-border-radius: 1px;
    border-radius: 1px; }
  header .set p + p {
    margin-top: 3px; }

.toUser {
  width: 15px;
  height: 17px;
  background: url("../images/toUser.png") no-repeat; }

.toHome {
  width: 21px;
  height: 17px;
  background: url("../images/home.png") no-repeat; }

.headBack {
  display: inline-block;
  width: 12px;
  height: 17px;
  background: url("../images/back.png"); }

/*
 *@author           Venshy at EcjtuNet
 */
footer {
  width: 100%;
  background: #e6e6e6;
  border-top: 1px solid #d9d9da; }
  footer .wrap {
    width: 95%;
    margin: 10px 8px 15px; }
    footer .wrap input {
      font: 18px/1 "Microsoft YaHei", "微软雅黑", STHeiti, sans-serif;
      color: #fff;
      width: 100%;
      height: 40px;
      border: 1px solid #bbb;
      background: #e66b63; }

body {
  background: #f0f0f2; }

#list {
  margin-bottom: 30px; }
  #list ul {
    width: 94.44444%;
    margin: 0 auto; }
  #list .ordertitle h3 {
    margin: 0 9px 18px 16px;
    display: inline-block;
    font: 18px/1 "Microsoft YaHei", "微软雅黑", STHeiti, sans-serif; }
  #list .ordertitle h3 + .ignore {
    position: relative;
    top: -3px; }
  #list .imgs {
    margin-left: 16px;
    padding-bottom: 18px;
    border-bottom: 1px solid #e6e6e6;
    width: 90%; }
    #list .imgs span {
      display: inline-block;
      width: 30%;
      padding-bottom: 25.625%;
      overflow: hidden;
      position: relative; }
    #list .imgs span + span {
      margin-left: 3%; }
    #list .imgs img {
      position: absolute;
      width: 100%; }
  #list li {
    width: 100%;
    overflow: hidden;
    background: #fafafa;
    font: 14px/26px "Microsoft YaHei", "微软雅黑", STHeiti, sans-serif;
    padding: 2.94118% 0;
    -webkit-box-shadow: 0 0 3px #cccccc;
    -moz-box-shadow: 0 0 3px #cccccc;
    box-shadow: 0 0 3px #cccccc; }
    #list li .fl {
      margin-left: 16px;
      margin-top: 8px; }
    #list li .fr {
      margin-right: 16px;
      margin-bottom: 4px;
      line-height: 26px; }
  #list .error span {
    margin-left: 16px;
    font: 14px/1 "Microsoft YaHei", "微软雅黑", STHeiti, sans-serif;
    color: #888; }
  #list .error .more {
    margin-top: 0; }
  #list .mar10 {
    margin-top: 10px; }
  #list .mar20 {
    margin-top: 20px; }

.more {
  display: inline-block;
  width: 8px;
  height: 14px;
  background: url("../images/more.png"); }

.add {
  display: inline-block;
  width: 11px;
  height: 11px;
  background: url("../images/add.png"); }

.del {
  display: inline-block;
  width: 11px;
  height: 12px;
  background: url("../images/del.png"); }

.checked {
  display: inline-block;
  width: 15px;
  height: 12px;
  background: url("../images/checked.png"); }

.wrap form {
  width: 95%;
  margin: 10px 8px 15px;
  text-align: center; }
  .wrap form input[type=text] {
    font: 16px/1 "Microsoft YaHei", "微软雅黑", STHeiti, sans-serif;
    color: #888;
    width: 99.5%;
    height: 45px;
    margin: 0 auto;
    text-indent: 20px;
    border: 1px solid #c8c8c9;
    background: #fafafa; }
  .wrap form input[type=submit] {
    font: 16px/1 "Microsoft YaHei", "微软雅黑", STHeiti, sans-serif;
    color: #fff;
    width: 100%;
    height: 40px;
    border: 1px solid #bbb;
    background: #e66b63;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    ms-border-radius: 5px;
    border-radius: 5px; }
  .wrap form input.mar5 {
    margin-top: 5px; }
  .wrap form input.next {
    border-top: none; }

.tips {
  color: #b6b6b6;
  font: 12px/1 "Microsoft YaHei", "微软雅黑", STHeiti, sans-serif;
  margin-top: 20px;
  margin-right: 15px; }
  .tips i {
    display: inline-block;
    position: relative;
    top: -3px;
    right: 3px;
    width: 4px;
    height: 4px;
    background: #ffb14a;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    ms-border-radius: 4px;
    border-radius: 4px; }

#modal, #mask {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

#errorBox {
  position: relative;
  top: 30%;
  z-index: 2;
  margin: 0 auto;
  text-align: center;
  width: 60%;
  padding: 40px 10%;
  line-height: 60px;
  background: #fff;
  font: 18px/1 "Microsoft YaHei", "微软雅黑", STHeiti, sans-serif;
  color: #888;
  -webkit-box-shadow: 0 0 3px gray;
  -moz-box-shadow: 0 0 3px gray;
  box-shadow: 0 0 3px gray;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  ms-border-radius: 8px;
  border-radius: 8px; }

#modalClose {
  position: absolute;
  top: 10px;
  right: 5%;
  font: 24px/1 "Microsoft YaHei", "微软雅黑", STHeiti, sans-serif;
  color: #888;
  z-index: 2; }

#mask {
  background: rgba(0, 0, 0, 0.5); }

.fl img {
  width: 48px;
  height: 40px; }

.foodName {
  margin-left: 7px;
  display: inline-block; }

.ignore {
  font: 12px/1 "Microsoft YaHei", "微软雅黑", STHeiti, sans-serif;
  color: #adadad; }

.price {
  color: #e51c23;
  position: relative;
  top: 17px; }

span.type {
  font: 14px/1 "Microsoft YaHei", "微软雅黑", STHeiti, sans-serif; }

span.time {
  font: 12px/1 "Microsoft YaHei", "微软雅黑", STHeiti, sans-serif;
  color: #adadad; }

span.totalPrice {
  font: blod 14px/1 "Microsoft YaHei", "微软雅黑", STHeiti, sans-serif;
  color: #e51c23; }

li.typeItem {
  padding: 0; }

#list > a {
  display: block; }

#addAddress span {
  display: block;
  margin: 0 auto;
  width: 19px;
  height: 19px;
  background: url("../images/addAddress.png"); }

.addressChecked {
  margin-top: 17px; }
