@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* mobile highlinght */
body {
  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: none;
  /* WP8 */ }

a {
  text-decoration: none;
  color: #000; }

/* 添加className形式 */
/* 常用属性库，类名形式添加使用 
 * such as:　<div class="fl"> </div>
 */
/* about float */
.fl {
  float: left; }

.fr {
  float: right; }

.fn {
  float: none; }

.clear {
  clear: both; }

.overft {
  overflow: hidden; }

/* about display */
.hidden {
  display: none; }

/* about position */
.head-fixed {
  position: fixed;
  left: 0;
  top: 0; }

.foot-fixed {
  position: fixed;
  left: 0;
  bottom: 0; }

/* 居中 */
.center-x {
  text-align: center;
  margin: 0 auto; }

/* page layout 通过给body添加className使用
 * such as: <body class="mse"></body>
 * WARNING: html按照README书写，或参考测试页面
 * _config.scss宽高参数需自主修改 
 * Default: $sub-width: 0; $extra-width: 0; $wrap-width: 990px;
 *
 *
 *
 * 因为布局遵循内容至上原则,所以需要设置$header-height
 * Default: $header-height: 0;
 */
/* 布局
 -------------------------------------------------------------*/
/* m: main, s: sub, e: extra */
.wrap {
  width: 100%;
  overflow: hidden; }

#content {
  overflow: hidden;
  margin-top: 37px; }

footer {
  width: 100%; }

header {
  width: 100%;
  position: absolute;
  top: 0; }

.mse .main {
  width: 100%;
  float: left; }
  .mse .main .wrap {
    margin: 0 0 0 0; }
.mse .sub {
  width: 0;
  float: left;
  margin-left: 0; }
.mse .extra {
  width: 0;
  margin-left: 0;
  float: left; }

/**************************************************************/
.sme .main {
  width: 100%;
  float: left; }
  .sme .main .main-wrap {
    margin: 0 0 0 0; }
.sme .sub {
  width: 0;
  float: left;
  margin-left: -100%; }
.sme .extra {
  width: 0;
  margin-left: 0;
  float: left; }

/**************************************************************/
.sem #content {
  overflow: hidden;
  margin-top: 37px; }
.sem .main {
  width: 100%;
  float: left; }
  .sem .main .main-wrap {
    margin: 0 0 0 0; }
.sem .sub {
  width: 0;
  float: left;
  margin-left: -100%;
  position: relative;
  left: 0; }
.sem .extra {
  width: 0;
  margin-left: -100%;
  float: left;
  position: relative;
  left: 0; }

/*  布局  */
/* mixin形式 */
/* 圆角
 --------------------------------------------------*/
/* =appearance
 *-------------------------------------------------*/
/* user-select
 --------------------------------------------------*/
/* =animation
 *-------------------------------------------------*/
/* =rotate
 *-------------------------------------------------*/
select {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-align: center;
  background: #fff;
  border: 0; }

/*  组件  */
header {
  background: #ee6b62;
  text-align: center; }
  header .fl, header .fr {
    position: relative;
    top: 11px; }
  header h1 {
    display: inline-block;
    font: 16px/1 "Microsoft YaHei", "微软雅黑", STHeiti, sans-serif;
    color: #fff; }

header .wrap {
  width: 90%;
  margin: 0 auto;
  color: #fff;
  height: 37px;
  line-height: 37px; }
  header .wrap a {
    display: block; }

header .set {
  display: inline-block;
  width: 16px; }
  header .set p {
    height: 3px;
    background: #fff;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    ms-border-radius: 1px;
    border-radius: 1px; }
  header .set p + p {
    margin-top: 3px; }

.toUser {
  width: 15px;
  height: 17px;
  background: url("../images/toUser.png") no-repeat; }

.toHome {
  width: 21px;
  height: 17px;
  background: url("../images/home.png") no-repeat; }

.headBack {
  display: inline-block;
  width: 12px;
  height: 17px;
  background: url("../images/back.png"); }

#content {
  width: 100%; }

#shareBtn {
  position: absolute;
  z-index: 9999;
  top: 5px;
  right: 20px;
  width: 183px;
  height: 92px;
  background: url("../images/share.png"); }

#modal, #mask {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

#errorBox {
  position: relative;
  top: 30%;
  z-index: 2;
  margin: 0 auto;
  text-align: center;
  width: 60%;
  padding: 40px 10%;
  line-height: 60px;
  background: #fff;
  font: 18px/1 "Microsoft YaHei", "微软雅黑", STHeiti, sans-serif;
  color: #888;
  -webkit-box-shadow: 0 0 3px gray;
  -moz-box-shadow: 0 0 3px gray;
  box-shadow: 0 0 3px gray;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  ms-border-radius: 8px;
  border-radius: 8px; }

#modalClose {
  position: absolute;
  top: 10px;
  right: 5%;
  font: 24px/1 "Microsoft YaHei", "微软雅黑", STHeiti, sans-serif;
  color: #888;
  z-index: 2; }

#mask {
  background: rgba(0, 0, 0, 0.5); }

footer {
  width: 100%;
  background: #2e272e;
  padding: 58px 0 14px; }
  footer p {
    text-align: center;
    font: 16px/1.5 "Microsoft YaHei", "微软雅黑", STHeiti, sans-serif;
    color: #b0b0b0; }
  footer a {
    display: block;
    margin: 42px auto 0;
    padding: 13px 0;
    width: 74.44444%;
    height: 18px;
    font: 18px/1 "Microsoft YaHei", "微软雅黑", STHeiti, sans-serif;
    color: #e3e3e3;
    background: #e84e40;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    ms-border-radius: 5px;
    border-radius: 5px; }

#shai {
  width: 100%;
  padding-top: 27px;
  padding-bottom: 20px;
  background: #2e272e; }
  #shai button {
    display: block;
    margin: 0 auto;
    padding: 13px 0;
    width: 74.44444%;
    font: 18px/1 "Microsoft YaHei", "微软雅黑", STHeiti, sans-serif;
    color: #e3e3e3;
    background: #e84e40;
    text-align: center;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    ms-border-radius: 5px;
    border-radius: 5px; }

#img_upload {
  width: 92.77778%;
  padding-bottom: 72.45509%;
  position: relative;
  margin: 0 auto; }

#before {
  width: 100%;
  height: 100%;
  background: #595959;
  position: absolute; }
  #before div {
    width: 80%;
    height: 80%;
    margin: 6% auto;
    border: 5px dashed #e3e3e3;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    ms-border-radius: 12px;
    border-radius: 12px;
    font: 30px/1 "Microsoft YaHei", "微软雅黑", STHeiti, sans-serif;
    color: #e3e3e3;
    text-align: center;
    position: relative; }
    #before div span {
      position: relative;
      top: 45%; }

#after {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  position: absolute; }
  #after img {
    height: 100%; }

#write {
  display: block;
  border: none;
  background: none;
  width: 88.77778%;
  height: 160px;
  padding: 0 2%;
  margin: 84px auto 30px;
  color: #b0b0b0;
  font: 24px/1.5 "Microsoft YaHei", "微软雅黑", STHeiti, sans-serif; }

#imglists {
  width: 100%;
  background: #ebe4eb;
  padding: 30px 0 60px; }
  #imglists li {
    width: 91.66667%;
    margin: 0 auto; }
    #imglists li span {
      display: inline-block;
      width: 30%;
      padding-bottom: 19.0678%;
      position: relative; }
      #imglists li span img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute; }
    #imglists li span + span {
      margin-left: 2%; }
  #imglists li + li {
    margin-top: 32px; }
  #imglists h2 {
    font: 18px/1 "Microsoft YaHei", "微软雅黑", STHeiti, sans-serif;
    color: #101010;
    margin-bottom: 17px; }
