<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <meta name="author" content="zvenshy@gmail.com">
    <title>后台管理</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/manage/css/style.min.css">
</head>
<body>

    <div class="row-fluid">
             <div class="tab-pane" id="order">

                <div class="wait span8 offset2">
                    <ul>
                        <li>
                            <ul class="unstyled fl">
                                <li><span class="fl">收件人</span><span class="fr">李艳艳</span></li>
                                <li><span class="fl">电话</span><span class="fr">12345678909</span></li>
                                <li><span class="fl">地址</span><span class="fr">华东交大华东交大华东交大华东交大华东交大华东交大华东交大华东交大华东交大华东交大</span></li>
                                <li><span class="fl">下单日期</span><span class="fr">2014-10-12 20:12</span></li>
                                <li><span class="fl">送达时间</span><span class="fr">2014-10-13 14:00</span></li>
                            </ul>
                            <ul class="unstyled fr">
                                <li><span class="fl">物品1</span><span>2</span><span class="fr">￥50.0</span></li>
                                <li><span class="fl">物品2</span><span>2</span><span class="fr">￥50.0</span></li>
                                <li><span class="fl">物品3</span><span>2</span><span class="fr">￥50.0</span></li>
                                <li><span class="fl">总价</span><span class="fr">￥150</span></li>
                                <li><span class="fl">在线支付</span><span class="fr">2014-10-13 14:00</span></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>

    </div>
    
    <script src="/manage/js/jquery.min.js"></script>
    <script src="/manage/js/temp.js"></script>
    <script src="/manage/js/bootstrap.min.js"></script>
    <script src="/manage/js/main.js"></script>
</body>
</html>