@charset "utf-8";
@import "../ui/ui/config";

body {
	background: #f0f0f2;
}
#content .wrap {
	width: 90%;
	margin: 0 auto 70px;
	overflow: visible;
}

#banner {
	width: 100%;
	margin: 10px auto 0;
	position: relative;
	@include box-shadow(0 0 15px #999);


	img {
		width: 100%;
	}

	h2 {
		position: absolute;
		left: 20px;
		bottom: 7px;
		font: 20px/1.0 $font-family;
		color: #fff;
	}
}
#content-list {
	margin-bottom: 30px;

	a {
		display: block;
	}
}
#content-list li {
	width: 100%;
	margin-bottom: 12px;
}

.list-header {
	width: 100%;

	h2, span {
		margin: 0 auto;
		height: 40px;
		font: 12px/40px "微软雅黑";
		color: #b4b4b4;
		margin-top: -2px;
	}

	span a {
		color: #e6353b;
	}
}

#content-list h3 {
	font: 16px/1 $font-family;
	text-align: left;
}
dl {
	overflow: hidden;
	background: #fff;
	width: 100%;
	@include box-shadow(0 0 14px #aaa)
}

dt, dd{
	float: left;
}
dt {
	width: 166/340*100%;
	padding-bottom: 166/340*(106/166)*100%;
	position: relative;


	img{
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

dd {
	width: (1-166/340)*100% - 0.3%;
	padding-top: 30/340*100%;
	padding-bottom: 5px;
	
	.dish {
		width: 80%;
		margin-left: 12%;
		
		h3, span {
			text-align: center;
			line-height: 1.0;
		}
	}
}



.advance {
	color: #d7ced7;
	font: 14px/1.0 $font-family;
	margin-top: 12px;
}

#manyPic {

	img {
		width: 100%;
		@include box-shadow(0 0 14px #aaa);
	}

	.fl {
		width: (210/340)*100% + 3.5%;
		position: relative;


		.foodTitle {
			display: block;
			position: absolute;
			bottom: 0; 
			text-align: center;
			font: 14px/1.0 $font-family;
			color: #fff;
			width: 100%;
			padding: 3px 0;
			background: rgba(#aaa, .85);
		}
	}

	.fr {
		width: (1 - 210/340)*100% - 8%;
		position: relative;

		a + a img {
			display: inline-block;
			margin-top: 6.7%;
		}
	}
}