<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="rcss">
    <meta name="description" content="商店demo">
    <meta name="author" content="zvenshy@gmail.com">
    <title>商店demo</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body class="sme">
    <div id="content">
        <div class="content-wrap">
            <div class="main">
                <div class="wrap">
                    <div id="banner">
                        <img src="images/slideImg2.jpg" alt="">
                        <h2>菜品1</h2>
                    </div>
                    <!-- 列表 -->
                    <div id="content-list">

                        <div class="list-header overft">
                            <h2 class="fl">美好菜单</h2>
                            <span class="fr">查看更多</span>
                        </div>
                        <div id="manyPic">
                            <div class="fl"><img src="images/slideImg1.jpg" alt=""></div>
                            <div class="fr">
                                <img src="images/slideImg2.jpg" alt="">
                                <img src="images/slideImg3.jpg" alt="">
                            </div>
                        </div>

                        <div class="list-header overft">
                            <h2 class="fl">推荐</h2>
                            <span class="fr">查看更多</span>
                        </div>
                        <ul>
                            <li>
                                <dl>
                                    <dt><img src="images/slideImg1.jpg" alt=""></dt>
                                    <dd class="overft">
                                        <div class="dish">
                                            <h3>菜品1</h3>
                                            <div class="advance">
                                                <span>请提前一天订单</span>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt><img src="images/slideImg2.jpg" alt=""></dt>
                                    <dd class="overft">
                                        <div class="dish">
                                            <h3>菜品2</h3>
                                            <div class="advance">
                                                <span>请提前一天订单</span>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt><img src="images/slideImg3.jpg" alt=""></dt>
                                    <dd class="overft">
                                        <div class="dish">
                                            <h3>菜品3</h3>
                                            <div class="advance">
                                                <span>请提前一天订单</span>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="foot-fixed">
        <div class="wrap">
            <span class="get fl"></span>
            <span class="delivery fr">￥12元 起送</span>
        </div>
    </footer>
    <header>
        <div class="wrap">
            <span class="set fl">
                <p></p>
                <p></p>
                <p></p>
            </span>
            <h1>首页</h1>
            <span class="toUser fr"></span>
        </div>
    </header>
</body>
</html>