@charset "utf-8";

/* 布局
 -------------------------------------------------------------*/
$sub-width :         0;
$extra-width :       0;
$header-height :     0;
$wrap-width :        100%;
$footer-color:       #616161;
$header-color:       #ee6b62;
$footer-bg:			 #616161;
$images-path:        "../images/";
$font-family:        "Microsoft YaHei","微软雅黑",STHeiti,sans-serif;