@charset "utf-8";

#list > a {
    display: block;
}
#addAddress span{
    display: block;
    margin: 0 auto;
    width: 19px;
    height: 19px;
    background: url($images-path + 'addAddress.png');
}
.addressChecked {
    margin-top: 17px;
}
