@charset "utf-8";

/*
 *@author           Venshy at EcjtuNet
 */

li .checked {
    margin-top: 7px;
}

li .more {
    margin-top: 17px;
}

.ignore {
    color: #adadad;
}

.fl .ignore {
    font: 12px/1.0 $font-family;
}