<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="rcss">
    <meta name="description" content="大腔调">
    <meta name="author" content="zvenshy@gmail.com">
    <title>购物车 - 大腔调</title>
    <link rel="stylesheet" href="css/chef.css">
</head>
<body class="sme">
    <div id="content">
        <div id="header">
            <div class="bg"></div>
            <div class="profile">
                <div class="avatar"><img src="images/head.jpg" alt=""></div>
                <div id="chefname">Venshy</div>
            </div>
        </div>

        <!-- 下面和list.php页面一样 -->
        <div class="imglist-3" id="productlist">
            <!-- <h2>菜品分类</h2> -->
            <ul class="imgbox">
                <li id="productiID">
                    <img src="images/slideImg1.jpg" alt="">
                    <h3 class="productname"><div><span>鸡腿堡鸡腿堡鸡腿堡鸡腿</span></div></h3>
                    <!-- <div class="s" href="1"><i class="fa fa-share"></i></div> -->
                    <!-- <a class="checked" href="2"><i class="fa fa-check fa-2x"></i></a> -->
                </li>
                <li><a href=""><img src="images/slideImg1.jpg" alt=""></a></li>
                <li id="productiID">
                    <img src="images/slideImg1.jpg" alt="">
                    <span class="checked" href=""><i class="fa fa-check fa-2x"></i></span>
                </li>
                <li id="productiID" class="first">
                    <img src="images/slideImg1.jpg" alt="">
                    <h3 class="productname"><div><span>鸡腿堡鸡腿堡鸡腿堡鸡腿</span></div></h3>
                    <div class="s" href="1"><i class="fa fa-share"></i></div>
                    <!-- <a class="checked" href="2"><i class="fa fa-check fa-2x"></i></a> -->
                </li>
                <li><a href=""><img src="images/slideImg1.jpg" alt=""></a></li>
                <li id="productiID"><img src="images/slideImg1.jpg" alt=""><span class="checked" href=""><i class="fa fa-check fa-2x"></i></span></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <footer class="foot-fixed">
        <a class="delivery" href="checkOrder.html"></a>
        <ul>
            <li class="profile"><a href="/profile">我的</a></li>
            <li><a href="/">首页</a></li>
            <li><a href="/chef">封厨榜</a></li>
            <li class="active"><a href="/list">饕餮盛宴</a></li>
        </ul>
    </footer>
    <script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="js/base.js"></script>
</body>
</html>